.button {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.button:hover {
    -fx-background-color: #825CE8;
    -fx-border-color: transparent;
}

.button1 {
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 20;
}

.button2 {
    -fx-background-color: #825CE8;
    -fx-border-color: transparent;
}